<h1>Edit Employee</h1>

<%= form_with(model: @employee, local: true) do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :role %>
    <%= f.text_field :role %>
  </div>

  <div class="field">
    <%= f.label :manager_id %>
    <%= f.select :manager_id, Manager.all.collect { |m| [m.name, m.id] }, { include_blank: true } %>
  </div>

  <div class="actions">
    <%= f.submit 'Update Employee' %>
  </div>
<% end %>

<%= link_to 'Back', employees_path %> %>
