<p style="color: green"><%= notice %></p>

<%= render @student_course %>

<div>
  <%= link_to "Edit this student course", edit_student_course_path(@student_course) %> |
  <%= link_to "Back to student courses", student_courses_path %>

  <%= button_to "Destroy this student course", @student_course, method: :delete %>
</div>
